.color-wheel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: var(--ion-color-light) !important;
}

.footer-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}