ion-input {
    --padding-start: 10px !important;
}

ion-note {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 5px;
}

ion-item {
    --border-color: var(--ion-color-border);
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;
}

ion-item.ion-invalid.ion-touched {
    --border-color: var(--ion-color-danger) !important;
}

ion-item.item-has-focus {
    --border-color: var(--ion-color-primary) !important;
}

ion-item.ion-valid {
    --border-color: var(--ion-color-success) !important;
}

ion-card {
    border: var(--ion-color-border) 1px solid !important;
    box-shadow: none;
}

ion-label {
    padding-left: 10px;
}

ion-card-title {
    font-size: 18px;
    color: var(--ion-color-dark);
}

.seperator {
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid var(--ion-color-dark);
}