/*ion-toggle {
    --handle-background-checked: var(--ion-color-dark) url("data:image/svg;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpb25pY29uIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHRpdGxlPlN1bm55PC90aXRsZT48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMzIiIGQ9Ik0yNTYgNDh2NDhNMjU2IDQxNnY0OE00MDMuMDggMTA4LjkybC0zMy45NCAzMy45NE0xNDIuODYgMzY5LjE0bC0zMy45NCAzMy45NE00NjQgMjU2aC00OE05NiAyNTZINDhNNDAzLjA4IDQwMy4wOGwtMzMuOTQtMzMuOTRNMTQyLjg2IDE0Mi44NmwtMzMuOTQtMzMuOTQiLz48Y2lyY2xlIGN4PSIyNTYiIGN5PSIyNTYiIHI9IjgwIiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMzIiLz48L3N2Zz4=") no-repeat center / contain;
    --handle-background: #fff url("/assets/hub-case-offline.svg") no-repeat center / contain;
}*/

ion-item {
    --border-color: var(--ion-color-border);
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;
}

ion-label {
    white-space: normal !important;
}