ion-modal {
    --background: rgba(44, 39, 45, 0.2);
    &::part(content) {
        backdrop-filter: blur(6px);
    }
    ion-content {
        --background: transparent;
    }
    div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ion-datetime {
        border-radius: 5%;
    }
}

.section {
    border-bottom: 1px solid var(--ion-color-dark);
}

.selected {
    color: var(--ion-color-primary);
}

.footer-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    background-color: var(--ion-color-light) !important;
}