ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
}

ion-card {
    border: var(--ion-color-border) 1px solid !important;
    box-shadow: none;
    --border-radius: 100%;
}

ion-card-content {
    cursor: pointer;
}

.labels {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.device-title {
    font-size: 16px;
    font-weight: bold
}