<div *ngIf="(searchQuery && name.toUpperCase().includes(searchQuery.toUpperCase())) || searchQuery?.length === 0">

    <div class="labels">
        <ion-chip *ngFor="let label of labels" [style.color]="label.color" [style.border-color]="label.color" outline>
            <ion-label>{{ label.name }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="labels?.length === 0 && !this.platform.is('mobile')" style="opacity: 0%;">
            <ion-label>no labels</ion-label>
        </ion-chip>
    </div>

    <ion-card class="ion-no-margin">
        <ion-card-header class="ion-text-center ion-no-padding">
            <ion-item class="ion-text-center ion-no-padding" lines="none">
                <ion-button [hidden]="this.authService.role === 'QR_USER'" class="ion-float-start ion-margin-start" fill="clear" [color]="favourite ? 'warning' : 'dark'" (click)="addToFavourite()">
                    <ion-icon [name]="favourite ? 'star' : 'star-outline'"></ion-icon>
                </ion-button>
                <ion-label class="ion-text-wrap ion-no-margin ion-margin-top ion-margin-bottom device-title">
                    {{ name }}
                </ion-label>
                <ion-button [hidden]="this.authService.role === 'QR_USER'" class="ion-float-end ion-margin-end" fill="clear" color="primary">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card-header>
        <ion-card-content class="ion-text-center" (click)="goToDevice()">
            <svg style="width: 52px; height: 52px" viewBox="0 0 24 24">
        <path
        style="fill: var(--ion-color-dark)"
        [attr.d]="icon"
        />
      </svg>
        </ion-card-content>
    </ion-card>
</div>