ion-title {
    color: var(--ion-color-dark);
}

ion-card {
    border: var(--ion-color-border) 1px solid !important;
    box-shadow: none;
    --border-radius: 100%;
}

ion-item-divider {
    border-radius: 5px !important;
}

.section {
    border-bottom: 1px solid var(--ion-color-dark);
}