<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header class="ion-margin-bottom header">
                        <ion-item lines="none" style="--background: transparent !important; color: black;">
                            <ion-avatar slot="start">
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-avatar>
                            <ion-label>
                                Marvin Koch<br>
                                <span style="font-size: 12px; color: var(--ion-color-dark);">
                                    koch.marvin@wirelabs.at
                                </span>
                            </ion-label>
                        </ion-item>
                    </ion-list-header>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item [hidden]="p.role && p.role != this.authService.role" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                            <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-list id="labels-list" *ngIf="labels">
                    <ion-list-header>Other</ion-list-header>

                    <ion-item *ngFor="let label of labels" lines="none">
                        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                        <ion-label>{{ label }}</ion-label>
                    </ion-item>
                </ion-list>

                <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" detail="false" class="ion-margin-bottom bottom" (click)="logout()">
                        <ion-icon slot="start" name="log-out-outline"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>