<ion-header>
    <ion-toolbar>
        <ion-title>hub-update</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col offset-xs="0.5" size-xs="11">

                <fieldset>
                    <legend>Labels</legend>
                    <div class="ion-text-center">
                        <ion-chip>
                            <ion-label>Empty</ion-label>
                        </ion-chip>
                        <ion-chip outline>
                            <ion-label>Empty</ion-label>
                        </ion-chip>
                        <ion-chip>
                            <ion-label>Empty</ion-label>
                        </ion-chip>
                    </div>
                </fieldset>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset-xs="0.5" size-xs="11">

                <fieldset>
                    <legend>Name</legend>
                    <ion-item lines="none">
                        <ion-input placeholder="your name"></ion-input>
                    </ion-item>
                </fieldset>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>