.section {
    color: var(--ion-color-dark);
    border-bottom: 1px solid var(--ion-color-dark);
}

ion-card {
    border: var(--ion-color-border) 1px solid !important;
    box-shadow: none;
    --border-radius: 100%;
}

ion-text {
    font-size: 14px;
}

#canvas {
    border: var(--ion-color-border) 1px solid !important;
    border-radius: 15px;
    background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
}