img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img[color-theme="dark"] {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}